@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root {
  --black: #0C0A09;
  --border: #1C1917;
  --white: #DDDDDD;
  --green: #5AC517;
  --red: #C51717;
}

body {
  color: var(--white);
  background: var(--black);
  line-height: 1.6;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 20rem;
  padding-right: 20rem;
}

@media (max-width: 768px) {
  #app {
    padding-left: 0;
    padding-right: 0;
  }
}