@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
  --black: #0C0A09;
  --border: #1C1917;
  --white: #DDDDDD;
  --green: #5AC517;
  --red: #C51717;
}

body {
  color: var(--white);
  background: var(--black);
  line-height: 1.6;
  font-family: "Onest", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #app {
    max-width: 100%;
  }
}